.title-spacer {
    flex: 1 1 auto;
  }
.form-field{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.desactivado{
  margin-right:10px;
  background-color:darkgray
}

.activado{
  margin-right:10px;
  background-color: darkblue
}

::ng-deep #equis{
  height:20px;
  widows: 20px;
  line-height: 20px;
  zoom: 75% !important;
}

#toolBar{
  background-color: #FFF;
}

#card{
  margin: 5 0 5 10px;
}

#cancelar{
  margin-right:10px;
}

.icon-pwd{
  cursor: pointer;
}